.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    background-color: transparent;
    border: .2rem solid var(--white);
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: gray;
}

.field ::placeholder {
    color: var(--white);
}

.form input[type="submit"] {
    background-color: var(--primary);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: var(--primary-light);
}